body {
    color: #fff;
    background: #222;
    font-size: 16px;
}
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.housing {
    width: 70vw;
    background: #fff;
    margin: 0 auto;
}

.header {
    background: #222;
    height: 7vh;
    min-height: 55px;
    width: 100%;
}
.header .logo {
    height: 40px; width: 40px;
    margin: 0px 10px;
    padding: 5px;
    background: #F3B333;
    border-radius: 25px;
}

.chat-box {
    background: #fff1e0;
    width: 100%;
    min-height: 500px;
    padding: 0px; margin: 0px;
    height: 90vh;
}


.connections-section {
    width: 15vw;
    min-width: 150px;
}
.connection-actions {
    min-height: 30px;
}
.connection-actions button, .del-connection {
    border: none;
    background: #333;
    color: #fff;
    font-weight: 500;
}
.connection-actions button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.connection-actions .refresh {
    background-color: #33F3B2 !important;
    color: #222;
}
.del-connection {
    background: #CC0000;
}

.list {
    margin: 0px; padding: 0px;
}
.list .li {
    margin: 0px; padding: 0px;
    font-weight: 500;
    height: 50px;
    align-items: center;
}

.messages-section {
    background: #fff;
    font-size: 1.2em;
    color: #111;
    padding: 0 10px;
}
.chat-messages {
    height: 65vh;
    min-height: 300px;
}
.chat-status {
    height: 30px;
}
.textarea {
    background: #fff;
    border-top: solid 1px #e0e0e0;
}
.textarea textarea {
    margin-top: 10px;
    border: none;
    width: 100%;
    resize: none;
}
.textarea textarea:focus {
    border: none;
    box-shadow: none;
    outline: 0px;
}

.chat-balloon {
    margin: 10px 0px;
    display: flex;
}
.chat-balloon .message {
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 80%;
}
.user {
    justify-content: flex-end;
}
.user .message {
    background: #007BFF;
    color: #fff;
}
.bot .message {
    background: #F3B333;
    color: #222;
}


.active {
    color: #F3B333;
}
.inactive {
    color: #666;
}
.hidden {
    visibility: hidden;
}
.toggle-btn, .toggle-btn:focus {
    position: absolute;
    top: 45vh;
    width: 30px;
    height: 100px;
    font-size: 10px;
    right: -30px;
    font-weight: 500;
    background: #F3B333;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    box-shadow: none;
    visibility: hidden;
}



@media all and (max-width: 450px) {
    .housing {
        width: 100vw;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .header {
        width: 100vw;
        justify-content: center;
    }
    .chat-box {
        border-radius: 0px;
    }
    .connections-section {
        position: fixed;
        background: #fafafa;
        width: 60vw;
        height: 100vh;
        z-index: 1;
        top: 0px;
        left: -60vw;
        border-right: solid 1px;
        border-color: #f3b333;
    }
    .connections-section .toggle-btn {
        visibility: visible;
    }
}