body {
    color: #fff;
    background: #222;
    font-size: 16px;
}
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.container {
    height: 100vh;
    width: 70vw;
    background: #fff;
}

.header {
    background: #222;
    height: 7vh;
    min-height: 55px;
}
.header .logo {
    height: 40px; width: 40px;
    margin: 0px 10px;
    padding: 5px;
    background: #F3B333;
    border-radius: 25px;
}

.chat-box {
    background: #fafafa;
    height: 80vh;
    min-height: 400px;
    color: #111;
    font-size: 1.2em;
    overflow-y: scroll;
    font-family: "helvetica";
}

.chat-balloon {
    margin: 10px 0px;
    display: flex;
}
.chat-balloon .message {
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 80%;
}
.user {
    justify-content: flex-end;
}
.user .message {
    background: #007BFF;
    color: #fff;
}
.bot .message {
    background: #F3B333;
    color: #222;
}



.textarea textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1.2em;
    border: none;
    background: none;
    padding: 10px;
}
.textarea textarea:focus {
    border: none;
    box-shadow: none;
    outline: 0px;
}

.inactive {
    color: #666;
}
.online {
    color: #82C91E;
}
.offline {
    color: #aaa;
}

@media all and (max-width: 450px) {
    .container {
        width: 100vw;
    }
    .chat-box {
        height: 65vh;
    }
}